.section-principal {
@include flex;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    color: $color-letra;
    text-shadow: 2px 2px 4px;
}


.contenedor-main {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    img {
        max-width: 100%;
        margin-right: 20px;
        padding: 50px;
        z-index: 999;
        &:hover{
            transform: scale(1.1);
            filter: drop-shadow(2px 2px 5px rgb(49, 49, 49));
            transition: transform 2s linear, filter 2s linear;
        }
    }
    .contenedor-texto {
        padding: 40px;
    }
    h2 {
        font-size: 3em;
        color: black;
        margin-bottom: 15px;
        text-align: center;
        text-shadow: 1px 1px 2px;
    }
    p {
        color: black;
        text-align: center;
    }
    button {
        display: block;
        margin: 0 auto;
        padding: 10px;
        &:hover{
            background-color: grey;
        }
    }
}

.contenedor-main1 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.1);
    img {
        max-width: 100%;
        margin-right: 20px;
        padding: 50px;
        z-index: 999;
        &:hover{
            transform: scale(1.1);
            filter: drop-shadow(2px 2px 5px rgb(49, 49, 49));
            transition: transform 2s linear, filter 2s linear;
        }
    }
    .contenedor-texto1 {
        padding: 40px;
    }
    h2 {
        font-size: 3em;
        color: black;
        margin-bottom: 15px;
        text-align: center;
        text-shadow: 1px 1px 2px;
    }
    p {
        color: black;
        text-align: center;
    }
    button {
        display: block;
        margin: 0 auto;
        padding: 10px;
        &:hover{
            background-color: grey;
        }
    }
}