*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2021/09/13/21/06/floral-background-6622475_1280.png);
    background-color: black;
    opacity: 0.9;
    z-index: 1;

}