@media (max-width:1024px){
    .seccionuno{
        flex-direction: column;
    }
    .titulo-seccionuno{
        font-size: 0px;
    }
}

@media (max-width:1024px){
    .secciondos{
        flex-direction: column;
    }
}