@media (max-width:1440px) {
    .contenedor-texto p{
        font-size: 22px;
    }
    .contenedor-main h2{
        font-size: 30px;
        padding: 10px;
    }
    .contenedor-main img{
        padding: 20px;
        transform: none;
        transition: none;
    }
    .contenedor-main button{
        font-size: 13px;
    }
}
@media (max-width:1440px) {
    .contenedor-texto1 p{
        font-size: 22px;
    }
    .contenedor-main1 h2{
        font-size: 30px;
        padding: 10px;
    }
    .contenedor-main1 img{
        padding: 20px;
        transform: none;
        transition: none;
    }
    .contenedor-main1 button{
        font-size: 13px;
    }
}