@media (max-width:425px){

    .texto-seccionuno{
        flex-direction: column;
        font-size: 14px;
    }
    .texto-secciondos{
        flex-direction: column;
        font-size: 14px;
    }

}